form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form *{
    margin: 10px 0px;
    padding: 5px 7px;
}
form button{
    background-color: rgb(88, 88, 208);
    border: none;
    border-radius: 3px;
    color: aliceblue;
    letter-spacing: 1px;
    padding: 7px 15px;
    cursor: pointer;
}
.invalid{
    border: 2px solid red;
}
.errorPass{
    color: red;
    font-size: 10px;
}